$headinColor: #0a405c;
$boxShadow: 0px 0px 3px 0px #0000005b;
.Easyhaionline-educator-container {
  overflow-x: hidden;
  position: relative;
  //   =================================[box-1]======================================
  .Easyhaionline-educator-container-box-1 {
    position: relative;
    height: 600px;
    width: 100%;
    background-image: url(backg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;

    .educator-box-1-mid {
      margin: auto;
      z-index: 1;
      margin-top: 60px;
      position: absolute;
      right: 0;
      bottom: 50px;

      h3 {
        text-align: center;
        position: relative;
        color: #fff;
        margin-top: 20px;
        padding-right: 10px;
      }
      p {
        margin-top: 20px;
        text-align: center;
        position: relative;
        color: #ffc100;
        padding-right: 10px;
      }
    }
  }
  .Easyhaionline-educator-container-box-1::after {
    content: " ";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.315);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  //   =================================[box-2]=========================
  .Easyhaionline-educator-container-box-2 {
    margin-top: 140px;
    .educator-interested-joining {
      width: 50%;
      height: 365px;
      box-shadow: $boxShadow;
      border-radius: 10px;
      margin: auto;
      overflow: hidden;

      .educator-interested-joining-1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        h1 {
          text-align: center;
          font-weight: 500;
        }
        img {
          margin-right: 5px;
        }
        .educator-interested-joining-11 {
          button {
            padding: 10px 25px 10px 25px;
            margin-right: 5px;
            background-color: #0a405c;
            color: #fffb22;
            font-weight: 500;
            border-radius: 5px;
            border: none;
          }
          span {
            img {
              margin-left: 2px;
            }
          }
        }
      }
    }
  }

  // CROUSEL------------->
  .educator-carausel-form {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;

    .educator-carausel-submit-btn {
      padding: 10px 25px 10px 25px;
      margin-top: 30px;
      background-color: #0a405c;
      color: #fffb22;
      font-weight: 500;
      border-radius: 5px;
      border: none;
    }
    .educator-carausel-input {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .educator-carausel-text-box {
        outline: blue;
        border-radius: 8px;
      }
      .educator-carausel-text-box:focus {
        outline: #fffb2223 3px solid;
      }
      .educator-carausel-name {
        font-size: 20px;
        color: #0a405c;
        font-weight: 400;
      }
    }
  }

  //   =================================[box-3]=========================

  .Easyhaionline-educator-container-box-3 {
    display: flex;

    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    background-color: #fff;
    .educator-box-21 {
      background-color: rgba(0, 0, 0, 0.753);
      width: 100%;
      padding: 40px 0px;
      p {
        color: #fffb22;
        text-align: center;
      }
      h1 {
        color: #fff;
        text-align: center;
      }
    }
    .educator-box-22 {
      margin-top: 70px;
      display: flex;
      gap: 40px;
      .educator-box-221 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h5 {
          color: #0a405c;
          text-align: center;
          font-weight: 600;
        }
        p {
          color: #888888;
          text-align: center;
          font-size: 18px;
        }
        .educator-img-box {
          width: 128px;
          height: 128px;
          display: flex;
          justify-content: center;
          margin: auto;
          img {
            width: 100%;
            height: auto;
            object-fit: contain;
            box-shadow: $boxShadow;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
//   =================================[box-4]=========================

.Easyhaionline-educator-container-box-4 {
  margin-top: 130px;
  .educator-box-41 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.753);
    padding: 40px 0;
    p {
      color: #fffb22;
      text-align: center;
    }
    h1 {
      color: #fff;
      text-align: center;
    }
  }
  .educator-box-42 {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    gap: 20px;

    .educator-dibba-1 {
      overflow: hidden;
      box-shadow: $boxShadow;
      padding: 25px 16px 25px 25px;
      position: relative;
      width: 60%;
      border-radius: 10px;
      h4 {
        color: #0a405c;
      }
      p {
        color: #888888;
        z-index: 2;
      }
      .educator-dibba-all-para {
        z-index: 17;
      }
      .educator-dibba-11 {
        width: 140px;
        height: 140px;
        position: absolute;
        right: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 1;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

//   =================================[box-5]=========================
.Easyhaionline-educator-container-box-5 {
  margin-top: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .educator-box-51 {
    background-color: rgba(0, 0, 0, 0.753);
    width: 100%;
    padding: 40px 0px;
    p {
      color: #fffb22;
      text-align: center;
    }
    h1 {
      color: #fff;
      text-align: center;
    }
  }
  .educator-box-52 {
    margin-top: 60px;
    .educator-dibba {
      display: flex;
      gap: 20px;
      align-items: center;
      color: #0a405c;
      span {
        font-size: 24px;
      }
    }
  }
}
//   =================================[box-6]=========================
.Easyhaionline-educator-container-box-6 {
  margin-top: 120px;
  .educator-box-66 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.753);
    padding: 40px 0;
    p {
      color: #fffb22;
      text-align: center;
      font-weight: 400;
    }
    h1 {
      color: #fff;
      font-weight: 500;
      text-align: center;
    }
  }
  .educator-box-67 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    .educator-dibba-671 {
      box-shadow: $boxShadow;
      width: 70%;
      padding: 20px 10px;
      border-radius: 10px;
      h4 {
        color: #0a405c;
        font-weight: 600;
      }
      p {
        color: #888888;
        font-weight: 400;
      }
    }
  }
}
//   =================================[box-7]=========================
.Easyhaionline-educator-container-box-7 {
  margin-top: 150px;
  margin-bottom: 80px;
  .educator-box-71 {
    text-align: center;
  }
  .educator-box-72 {
    padding: 0 208px;
    text-align: justify;
  }
}

// ---------------------- [MEDIA- QUERIES] --------------------------------------

@media only screen and (max-width: 992px) {
  .Easyhaionline-educator-container {
    .Easyhaionline-educator-container-box-2 {
      .educator-interested-joining {
        width: 90%;
        .educator-interested-joining-1 {
          width: 100%;
          .joinus {
            width: 240px;
          }
        }
      }
    }
    .Easyhaionline-educator-container-box-3 {
      margin-top: 60px;
      .educator-box-21 {
        width: 100%;
        margin: auto;
      }
      .educator-box-22 {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    .Easyhaionline-educator-container-box-4 {
      .educator-box-41 {
        width: 100%;
        margin: auto;
      }
      .educator-box-42 {
        .educator-dibba-1 {
          width: 90%;
          margin: auto;
        }
      }
    }
    .Easyhaionline-educator-container-box-6 {
      .educator-box-66 {
        width: 100%;
        margin: auto;
      }
      .educator-box-67 {
        .educator-dibba-671 {
          width: 90%;
          margin: auto;
        }
      }
    }
    .Easyhaionline-educator-container-box-7 {
      margin-top: 150px;
      margin-bottom: 80px;
      .educator-box-71 {
        text-align: center;
        width: 90%;
        margin: auto;
      }
      .educator-box-72 {
        width: 90%;
        padding: 0;
        text-align: center;
        margin: auto;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .Easyhaionline-educator-container {
    .Easyhaionline-educator-container-box-2 {
      .educator-interested-joining {
        width: 90%;
        .educator-interested-joining-1 {
          width: 100%;
          .joinus {
            width: 200px;
          }
        }
      }
    }

    .Easyhaionline-educator-container-box-3 {
      margin-top: 30px;
      .educator-box-21 {
        width: 100%;
        margin: auto;
        margin-top: 0px;
        h1 {
          text-align: start;
          font-size: 16px;
          font-weight: 500;
          padding: 0px 20px;
        }
        p {
          text-align: start;
          font-size: 13px;
          font-weight: 300;
          padding: 0px 20px;
        }
      }
      .educator-box-22 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        .educator-box-221 {
          gap: 7px;

          h5 {
            font-size: 16px;
            font-weight: 500;
          }
          p {
            font-size: 13px;
            font-weight: 300;
          }
        }
      }
    }

    .Easyhaionline-educator-container-box-4 {
      margin-top: 30px;
      .educator-box-41 {
        width: 100%;
        margin: auto;
        h1 {
          text-align: left;
          font-size: 16px;
          font-weight: 500;
          padding: 0 20px;
        }
        p {
          text-align: left;
          padding: 0 20px;
          font-size: 13px;
          font-weight: 300;
        }
      }
      .educator-box-42 {
        gap: 15px;
        margin-top: 20px;
        .educator-dibba-1 {
          width: 90%;
          h4 {
            font-size: 17px;
            font-weight: 500;
          }
          p {
            font-size: 14px;
            font-weight: 300;
          }
          div {
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
    }
    .Easyhaionline-educator-container-box-5 {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .educator-box-51 {
        h1 {
          font-size: 17px;
          font-weight: 500;
          text-align: left;
          padding: 0 20px;
        }
        p {
          font-size: 13px;
          font-weight: 300;
          text-align: left;
          padding: 0 20px;
        }
      }
      .educator-box-52 {
        margin-top: 20px;
        .educator-dibba {
          padding: 0 20px;
          gap: 5px;
          span {
            font-size: 15px;
            font-weight: 400;
            color: #888888;
          }
          img {
            width: 15px;
          }
        }
      }
    }

    .Easyhaionline-educator-container-box-6 {
      margin-top: 20px;
      .educator-box-66 {
        width: 100%;
        h1 {
          font-size: 18px;
          font-weight: 500;
          text-align: start;
          padding: 0 20px;
        }
        p {
          font-size: 14px;
          font-weight: 400;
          text-align: start;
          padding: 0 20px;
        }
      }
      .educator-box-67 {
        margin-top: 10px;
        .educator-dibba-671 {
          padding: 4px 5px;
          width: 90%;
          border-radius: 8px;
          box-shadow: 0px 0px 3px 0px #00000033;
          h4 {
            font-size: 14px;
            font-weight: 500;
          }
          p {
            font-size: 12px;
            font-weight: 300;
          }
        }
      }
    }

    .Easyhaionline-educator-container-box-7 {
      margin-top: 40px;
      margin-bottom: 40px;
      .educator-box-72 {
        margin-top: -25px;
        padding: 0 20px;
        font-size: 13px;
        font-weight: 400;
        text-align: justify;
        strong {
          a {
            font-size: 10px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
